<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="merge" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="merge" />
    <uses-permission
        android:name="android.permission.STORAGE"
        tools:node="merge" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIYEdit">
        <activity
            android:name="com.x8192bit.diyeditmobile.FileSelectActivity"
            android:exported="false"
            android:label="@string/title_activity_file_choose">
            <intent-filter>
                <action android:name="com.x8192Bit.DIYEdit_Mobile.OPEN_FILECHOOSE_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.x8192bit.diyeditmobile.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.x8192bit.diyeditmobile.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.x8192bit.diyeditmobile.SaveEditActivity"
            android:exported="false" />
        <activity
            android:name="com.x8192bit.diyeditmobile.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*.mio" />
                <data android:pathPattern=".*.sav" />
                <data android:pathPattern=".*.dsv" />
            </intent-filter>
        </activity>
    </application>

</manifest>